.profile{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px
}
.headerItems{
    display: flex;
    align-items: center;
}
.HPara{
    font-size: 20px;
    color: #fbf8f8;
    padding-left: 20px;
    text-align: center;
}
.HSearch{
    font-size: 30px;
    font-weight: bolder;
    color: #f5f2f2;
    padding-left: 20px;
    padding-right: 20px;
}
.mainHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.321);
    margin-bottom: 10px;

}
.mainHeadBackground{
    background-image: url('https://res.cloudinary.com/dceanjhp6/image/upload/f_auto,q_auto/h0n9yf0nu6jayijer3qq');
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}