.sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgb(27, 29, 29);
    opacity: 0.8;
  }
  
  #heading {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
  }
  
  .userInput {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 10px;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
  }
  
  .userInputB {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    opacity: 1;
    margin-top: 10px;
  }
  
  .userLabel {
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .para {
    color: red;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .user {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .MC {
    background-image: url('https://s3-alpha-sig.figma.com/img/8cca/f66f/19edc15e3aa6b6a1301fd6667bf2509e?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=htti~-B2JbHMyXlEiKODJ8dPLJccHnH5R-bOhxcHDKWOkccXwCy9AaRpK4SJkuBtUG5bTutGR9TYpwIkypmG9fsrQfA9ESUmJt39gJcY-~k3X1AP8Mwy0LgmSj-mjL1IxF8WD6622nkJxlwVwUffCT~Xs-7z~TOCyUIlaVW6pvVJWCle7B7xHNtVj-bzJy6S7TZU4V1yGqmoboJWS3FpbCfO-4n~-uzKePIGKoRSOsMTF~ZN9KAc8XBtkhFod053P7mlfzsFUJFSi0XJSGDiBCPjsdxbf88ahUXCxLDDodKHNQIA5xh-bf4jdmID1AL2qVVakR7WmoVh-Lp8j3nqfw__');
    background-size: cover;
  }
  .movieLogo{
    margin-top:20px ;
    margin-left: 20px;
    float: left;
  }